{% extends 'base.html.twig' %}

{% block title %}coffrets
{% endblock %}

{% block body %}
<div class="imgglob1">
				<img src="{{ asset("tof14.jpg")}}" class="tof44 card-img-top" alt="..."></a>

</div>
<div class="prodML">
		<h1>COFFRETS 4 PIECES</h1>
	</div>
	<div class="surplus">

		<div class="surplus1">
			<a href="{{path('app_cofdetail',{id:12})}}">
				<img src="{{ asset("tof36.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">COFFRET <br>BLANC<br> 4 EAU DE PARFUM<br>50 ML</p>
		
		</div>
		<div class="surplus1">
			<a href="{{path('app_cofdetail',{id:7})}}">
				<img src="{{ asset("tof41.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">COFFRET <br>NOIR<br>4 EAU DE PARFUM<br>50 ML</p>
		
		</div>
		
		

	</div>
	
		

	

{% endblock %}