{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


	<h1>{{produit.nom}}</h1>
	<div class="rowi">
{# <div class="surplus2"> #}

		<div class="col-6">

			<a type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal1">

				<img src="{{produit.image}}" alt="" class="card-img-top">
			</a>

		</div>


		<!-- Modal -->
		<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">

					<div class="modal-body">

						<img src="{{produit.image}}" alt="" class="imgmod img-fluid thumbnail">
					</div>

				</div>
			</div>
		</div>
		{# modalfin #}
		<div class="col-6">
		<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">

      <div class="card-body">
        <h5 class="card-title">{{produit.prix}}
					&nbsp;€</h5>
					<a class="nav-link" href="{{ path('app_accueil') }}"></a>

        <p class="card-text">{{produit.qte}}
					&nbsp;ML</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      {# <img src="..." class="card-img-top" alt="..."> #}
      <div class="card-body">
        <h5 class="card-title">{{produit.prix}}
					&nbsp;€</h5>
					<a class="nav-link" href="{{ path('app_accueil') }}"></a>

        <p class="card-text">{{produit.qte}}
					&nbsp;ML</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title" href="{{path('app_accueil')}}">{{produit.prix}}
					&nbsp;€</h5>
					<a class="nav-link" href="{{ path('app_accueil') }}"></a>

        <p class="card-text">{{produit.qte}}
					&nbsp;ML</p>
      </div>
    </div>
  </div>
  
</div>
			<dl>
				<div class="pan1">

				<dt>stock</dt>
				<dd>{{produit.stock}}</dd>

				<dt>EAU DE PARFUM VAPORISATEUR</dt>
				{# <dd>{{produit.stock}}</dd> #}
				</div>

				<div class="pan">
				{% if app.user and produit.stock > 0 %}
					<td>
						<form action="{{ path('add_panier', {produit: produit.id}) }}" method="post">
							<input type="number" name="qtte" id="qtte" min="1" max="{{produit.stock}}" step="1" placeholder="Quantité" style="max-width: 50px;" value="1">
							<button type="submit" class="btn btn-primary">
								<i class="fa fa-shopping-cart" aria-hidden="true">&nbsp; Ajouter au panier</i>
							</button>
						</form>
					</td>
					</div>
				{% elseif app.user and produit.stock == 0 %}
					<td class="text-danger">Rupture de stock</td>
				{% endif %}
			</dl>

		</div>
		{# <div class="col-4">


	</div> #}
	</div>
{# 1er accordion #}
	<div class="tab2 accordion accordion-flush" id="accordionFlushExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
					<strong>Description</strong>
				</button>
			</h2>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">
					{{produit.description}}</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
					<strong>Pyramide olfactive</strong>
				</button>
			</h2>
			<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">note de tete :&nbsp;{{produit.noteDeTete}}</div>
				<div class="accordion-body">note de coeur :&nbsp;{{produit.noteDeCoeur}}</div>
				<div class="accordion-body">note de fond :&nbsp;{{produit.noteDeFond}}</div>

			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
					<strong>Contenance</strong>
				</button>
			</h2>
			<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
					<code>.accordion-flush</code>
					class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
			</div>
		</div>
	</div>
	{# fin 1er accordion #}
	
	<div class="tit">
		<h2>Vous aimerez aussi</h2>
		</div>
		<div class="surplus">
		
			<div class="surplus1">
				<a href="{{path('app_detailproduit',{id:7})}}">
					<img src="{{ asset("boisdar.jpg")}}" class="card-img-top"  alt="..."></a>
			</div>
			<div class="surplus1">
				<a href="{{path('app_detailproduit',{id:7})}}">
					<img src="{{ asset("boisdar.jpg")}}" class="card-img-top"  alt="..."></a>
			</div>
			<div class="surplus1">
				<a href="{{path('app_detailproduit',{id:7})}}">
					<img src="{{ asset("boisdar.jpg")}}" class="card-img-top"  alt="..."></a>
			</div>
			<div class="surplus1">
				<a href="{{path('app_detailproduit',{id:7})}}">
					<img src="{{ asset("boisdar.jpg")}}" class="card-img-top"  alt="..."></a>
			</div>
			
		</div>

{% endblock %}