{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


	<div class="rowi">

		<div class="surplus2 col-4">

			<a type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal1">

				<img src="{{produit.image}}" alt="" class="card-img-top">
			</a>

		</div>


		<!-- Modal -->
		<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-sm">
				<div class="modal-content">

					<div class="modal-body">

						<img src="{{produit.image}}" alt="" class="imgmod img-fluid thumbnail">
					</div>

				</div>
			</div>
		</div>
		{# modalfin #}
		<div class="col-4">
			<h1 class="pan2">{{produit.nom}}</h1>


			<dl>
				<div class="pan1">

					<dt>stock</dt>
					<dd>{{produit.stock}}</dd>

					<dt>EAU DE PARFUM VAPORISATEUR</dt>
					<dd>{{produit.qte}}
						&nbsp;ML</dd>
					<dd>{{produit.prix}}
						&nbsp;€</dd>
				</div>

				<div class="pan">
					{% if app.user and produit.stock > 0 %}
						<td>
							<form action="{{ path('add_panier', {produit: produit.id}) }}" method="post">
								<input type="number" name="qtte" id="qtte" min="1" max="{{produit.stock}}" step="1" placeholder="Quantité" style="max-width: 50px;" value="1">
								<button type="submit" class="btn btn-primary">
									<i class="fa fa-shopping-cart" aria-hidden="true">&nbsp; Ajouter au panier</i>
								</button>
							</form>
						</td>
					</div>
				{% elseif app.user and produit.stock == 0 %}
					<td class="text-danger">Rupture de stock</td>
				{% endif %}
			</dl>
		</div>

		{# 1er accordion #}
		<div class="tab2 accordion accordion-flush col-4" id="accordionFlushExample">
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingOne">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
						<strong>Description</strong>
					</button>
				</h2>
				<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						{{produit.description}}</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingTwo">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
						<strong>Pyramide olfactive</strong>
					</button>
				</h2>
				<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">note de tete :&nbsp;{{produit.noteDeTete}}</div>
					<div class="accordion-body">note de coeur :&nbsp;{{produit.noteDeCoeur}}</div>
					<div class="accordion-body">note de fond :&nbsp;{{produit.noteDeFond}}</div>

				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingThree">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
						<strong>Ingrédients</strong>
					</button>
				</h2>
				<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">ALCOHOL | PARFUM (FRAGRANCE) | AQUA (WATER) | LIMONENE | LINALOOL | CITRONELLOL | CITRAL | COUMARIN | GERANIOL | FARNESOL | EVERNIA PRUNASTRI (OAK MOSS) EXTRACT | ETHYLHEXYL METHOXYCINNAMATE | BUTYL METHOXYDIBENZOYLMETHANE | ETHYLHEXYL SALICYLATE | CI 60730 (EXT. VIOLET 2) | CI 15985 (YELLOW 6) | CI 19140 (YELLOW 5) | IL28-1</div>
				</div>
			</div>

			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingFour">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
						<strong>Conseils d'utilisation</strong>
					</button>
				</h2>
				<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">L'Eau de Parfum offre un parfumage généreux et se vaporise directement sur les vêtements et sur la peau.
													Pour un parfumage intensifié tout au long de la journée, une ligne complète de produits pour le rasage et le corps complète cette Eau de Parfum.
					</div>
				</div>
			</div>
		</div>

		{# fin 1er accordion #}
	</div>
</div>


{# les 3 cases #}
<div class="tit">
	<h2>Existe aussi en</h2>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
	<div class="col">
		<div class="card h-100">

			<div class="card-body">
				<h5 class="card-title">50
																		&nbsp;ML</h5>
				<a class="nav-link" href="{{path('app_prod50ml')}}"></a>

				<p class="card-text">25
																		&nbsp;€</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card h-100">
			<div class="card-body">
				<h5 class="card-title">100
																		&nbsp;ML</h5>
				<a class="nav-link" href="{{path('app_prod100ml')}}"></a>

				<p class="card-text">35
																		&nbsp;€</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card h-100">
			<div class="card-bodycof">
				<h5 class="card-title">200
																		&nbsp;ML</h5>
				<a class="nav-link" href="{{path('app_prod200ml')}}"></a>

				<p class="card-text">45
																		&nbsp;€</p>
			
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card h-100">
			<div class="card-bodycof">
				<div>
					<h5 class="card-title">COFFRETS</h5>
					<a class="nav-link" href="{{path('app_prod200ml')}}"></a>

					<p class="card-text">45
																			&nbsp;€</p>
				</div>
				<div>
					<img class="logocof" src="{{ asset("logocof.jpg")}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
				</div>
			</div>

		</div>
	</div>
</div>

{# fin des 4 cases #}


<div class="tit">
	<h2>Vous aimerez aussi</h2>
</div>
<div class="surplus">

	<div class="surplus1">
		<a href="{{path('app_detailproduit',{id:7})}}">
			<img src="{{ asset("av100mldetail.jpg")}}" class="card-img-top" alt="..."></a>
		<p class="surplus3">AVENTURE PRECIEUSE<br>EAU DE PARFUM<br>100 ML</p>
	</div>
	<div class="surplus1">
		<a href="{{path('app_detailproduit',{id:7})}}">
			<img src="{{ asset("av100mldetail.jpg")}}" class="card-img-top" alt="..."></a>
		<p class="surplus3">tobacco precieux<br>eau de parfum<br>100 ML</p>

	</div>
	<div class="surplus1">
		<a href="{{path('app_detailproduit',{id:7})}}">
			<img src="{{ asset("av100mldetail.jpg")}}" class="card-img-top" alt="..."></a>
		<p class="surplus3">tobacco precieux<br>eau de parfum<br>100 ML</p>

	</div>
	<div class="surplus1">
		<a href="{{path('app_detailproduit',{id:7})}}">
			<img src="{{ asset("av100mldetail.jpg")}}" class="card-img-top" alt="..."></a>
		<p class="surplus3">tobacco precieux<br>eau de parfum<br>100 ML</p>

	</div>

</div>{% endblock %}
