{% extends 'base.html.twig' %}

{% block title %}produits 100 ML
{% endblock %}

{% block body %}

<div class="prodML">
		<h1>GAMME 100 ML</h1>
	</div>
	<div class="surplus">

		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:2})}}">
				<img src="{{ asset("av100ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">AVENTURE <br>PRECIEUSE<br>EAU DE PARFUM<br>100 ML</p>

		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:8})}}">
				<img src="{{ asset("bac100ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">BACCARAT <br>PRECIEUX<br>EAU DE PARFUM<br>100 ML</p>

		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:6})}}">
				<img src="{{ asset("bois100ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">BOIS <br>INTENSE<br>EAU DE PARFUM<br>100 ML</p>

		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:5})}}">
				<img src="{{ asset("feve100ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">FEVE <br>PRECIEUSE<br>EAU DE PARFUM<br>100 ML</p>

		</div>
		</div>

<div class="surplus100ml">

		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:1})}}">
				<img src="{{ asset("gris100ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">GRIS <br>MAGIQUE<br>EAU DE PARFUM<br>100 ML</p>
		
		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:3})}}">
				<img src="{{ asset("sweet100ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">SWEET <br>BOUQUET<br>EAU DE PARFUM<br>100 ML</p>
		
		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:9})}}">
				<img src="{{ asset("toba100ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">TOBACCO <br>PRECIEUX<br>EAU DE PARFUM<br>100 ML</p>
		
		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:4})}}">
				<img src="{{ asset("van100ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">VANILLE <br>PRECIEUSE<br>EAU DE PARFUM<br>100 ML</p>
		
		</div>
	</div>
	<div class="surplus4">

		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("OUD100ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">OUD <br>PRECIEUX<br>EAU DE PARFUM<br>100 ML</p>
		
		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("TUX100ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">TUXEDO <br>PRECIEUX<br>EAU DE PARFUM<br>100 ML</p>
		
		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("toba100ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">TOBACCO <br>PRECIEUX<br>EAU DE PARFUM<br>100 ML</p>
		
		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("van100ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">VANILLE <br>PRECIEUSE<br>EAU DE PARFUM<br>100 ML</p>
		
		</div>
	</div>
	

{% endblock %}