{% extends 'base.html.twig' %}

{% block title %}produits 50 ML
{% endblock %}

{% block body %}
<div>
				<img src="{{ asset("tof46.jpg")}}" class="card-img-top" alt="..."></a>

</div>
<div class="prodML">
		<h1>GAMME 50 ML</h1>
	</div>
	<div class="surplus">

		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("av50ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">AVENTURE <br>PRECIEUSE<br>EAU DE PARFUM<br>50 ML</p>
		
		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("bac50ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">BACCARAT <br>PRECIEUX<br>EAU DE PARFUM<br>50 ML</p>
		
		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("bois50ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">BOIS <br>INTENSE<br>EAU DE PARFUM<br>50 ML</p>
		
		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("gris50ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">GRIS <br>MAGIQUE<br>EAU DE PARFUM<br>50 ML</p>
		
		</div>

	</div>
	<div class="surplus4">

		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("oud50ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">OUD <br>PRECIEUX<br>EAU DE PARFUM<br>50 ML</p>
		
		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("sweet50ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">SWEET <br>BOUQUET<br>EAU DE PARFUM<br>50 ML</p>
		
		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("toba50ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">TOBACCO <br>PRECIEUX<br>EAU DE PARFUM<br>50 ML</p>
		
		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("vanille50ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">VANILLE <br>PRECIEUSE<br>EAU DE PARFUM<br>50 ML</p>
		
		</div>

	</div>
	

{% endblock %}