{% extends 'base.html.twig' %}

{% block title %}produits 200 ML
{% endblock %}

{% block body %}
<div class="imgglob1">
				<img src="{{ asset("tof44.jpg")}}" class="tof44 card-img-top" alt="..."></a>

</div>
<div class="prodML">
		<h1>GAMME 200 ML</h1>
	</div>
	<div class="surplus">

		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("av200ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">AVENTURE <br>PRECIEUSE<br>EAU DE PARFUM<br>200 ML</p>

		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("oud200ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">OUD <br>PRECIEUX<br>EAU DE PARFUM<br>200 ML</p>

		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("van200ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">VANILLE <br>PRECIEUSE<br>EAU DE PARFUM<br>200 ML</p>
		
		</div>
		
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("bois200ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">BOIS <br>INTENSE<br>EAU DE PARFUM<br>200 ML</p>

		</div>
		
		</div>

<div class="surplus100ml">

		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("gris200ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">GRIS <br>MAGIQUE<br>EAU DE PARFUM<br>200 ML</p>
		
		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("sweet200ml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">SWEET <br>BOUQUET<br>EAU DE PARFUM<br>200 ML</p>
		
		</div>
		<div class="surplus1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("toba2OOml.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">TOBACCO <br>PRECIEUX<br>EAU DE PARFUM<br>200 ML</p>
		
		</div>
		
	</div>

{% endblock %}