{% extends 'base.html.twig' %}

{% block title %}Adressefacturation index{% endblock %}

{% block body %}
    <h1>Adressefacturation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Numero</th>
                <th>Rue</th>
                <th>Cp</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Info</th>
                <th>Societe</th>
                <th>Tel</th>
                <th>Nom_prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adressefacturation in adressefacturations %}
            <tr>
                <td>{{ adressefacturation.id }}</td>
                <td>{{ adressefacturation.nom }}</td>
                <td>{{ adressefacturation.numero }}</td>
                <td>{{ adressefacturation.rue }}</td>
                <td>{{ adressefacturation.cp }}</td>
                <td>{{ adressefacturation.ville }}</td>
                <td>{{ adressefacturation.pays }}</td>
                <td>{{ adressefacturation.info }}</td>
                <td>{{ adressefacturation.societe }}</td>
                <td>{{ adressefacturation.tel }}</td>
                <td>{{ adressefacturation.nomPrenom }}</td>
                <td>
                    <a href="{{ path('app_adressefacturation_show', {'id': adressefacturation.id}) }}">show</a>
                    <a href="{{ path('app_adressefacturation_edit', {'id': adressefacturation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adressefacturation_new') }}">Create new</a>
{% endblock %}
