{% extends 'base.html.twig' %}
{% block title %}
accueil
{% endblock %}

{% block body %}


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	{# <link rel="stylesheet" href="{{asset('script.js')}}"> #}
	<link rel="shortcut icon" href="{{asset('favicon.ico')}}" type="image/x-icon">

	<link  rel="stylesheet" href="{{asset('style.css')}}">
</head>

<body>
	
    <div class="globaltof">
      <img src="{{asset('globaltof.jpg')}}" class="d-block w-100" alt="...">
    </div>
  
  

	<div class="tit">
		<h1>NOS PARFUMS</h1>
	</div>
	{# debut 1er card #}
	<div class="first">
	<div class="col-8">
<div class="card mb-3">
  <img src="{{ asset("tof26.jpg")}}" class="tof card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">NOS PARFUMS 100 ML</h5>
    <p class="card-text">La maison COLLECTION PRECIEUSE vous propose une magnifique gamme de parfums aussi majestieux et enchanteurs que l'orient nous a offert. Vous trouverez votre plaisir en 50 ml, 100 ml ou 200 ml.</p>
    <a href="{{path('app_prod50ml')}}"><small class="text-muted">Découvrir</small></a>
  </div>
</div>

	{# fin card #}
</div>
<div class="col-4">
<p>je dois mettre<br> un truc ici</p>
</div>
</div>
{# debut 2eme partie #}
<div class="first">
<div class="col-4">
<p>je dois mettre<br> un truc ici</p>
</div>
	<div class="col-8">
	{# debut 2eme card #}
<div class="card mb-3">
  <img src="{{ asset("tof16.jpg")}}" class="tof card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">NOS COFFRETS</h5>
    <p class="card-text">La maison COLLECTION PRECIEUSE vous propose une magnifique gamme de parfums aussi majestieux et enchanteurs que l'orient nous a offert. Vous trouverez votre plaisir en 50 ml, 100 ml ou 200 ml.</p>
    <a href="{{path('app_prod50ml')}}"><small class="text-muted">Découvrir</small></a>
  </div>
</div>

	{# fin card #}
</div>

</div>
	



</body></div></body></div><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>{% endblock %}
