{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

	<div class="ajoutprodtitre">

    <h1>Liste des utilisateurs</h1>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>

            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.Prenom }}</td>
                <td>{{ user.email }}</td>

                <td>
                    <a class="btn btn-danger" href="{{ path('app_user_delete', {'id': user.id}) }}">Supprimer un utilisateur</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
									<a href="{{ path('app_user_show', {'id': user.id}) }}">detail</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
