{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
           
            
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.Prenom }}</td>
            </tr>
             <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">liste</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">modifier</a>
                    {# <a class="btn btn-danger" href="{{ path('user/_delete_form') }}">Supprimer un utilisateur</a> #}

    <a class="btn btn-danger">{{ include('user/_delete_form.html.twig') }}</a>
{% endblock %}
